@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(90deg, #082751, #0286df);
}

@theme {
  --color-blu: #09152b;
  --color-ciano: #00b0fc;
  --color-ciano-2: #00A3B8;
}
